*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/* background-color: rgb(250, 233, 202); */   
/* background-color: ivory; */
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
#container p{
   /*  background-image: url("imagenes/patron.jpg");
    background:linear-gradient(rgba(8, 8, 8, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/patron.jpg"); */
    
   /*  margin: 5%; */
}
/* #pais{
    margin-left:50%;
    margin-right: 50%;
}
#navcontenido{
    margin-left: 50%;
} */
/* .navbar{
  background-color: #2c2a2a;
} */
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
.navbar-brand{
  font-size: 3em;
  font-family: 'Coustard', serif;
  background-image: -webkit-linear-gradient(left, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
  background-image: linear-gradient(90deg, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;

}
.navbar-brand:hover{
  background-position: left center;
  color: #ef9671;
  transition: background-position 2000ms ease-out;
}

#menu{
    margin-right: 5%;
    font-size: 1.3em;
}
.nav-item a:hover{
    border-bottom: 3px solid orange;

  }
  .dropdown-item:hover{
    background-color: orange;
  }
  
.nav-item a.active {
    border-bottom: 3px solid orange;
}
.active{
  border-bottom: 3px solid orange;
}
.banner{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background: transparent;
    font-family: 'Coustard', serif;
  }
  .banner img{
    width: 100%;
   /*  height: 800px; */
   max-height: 736px;
    filter:brightness(0.5);
  }
  #txtBannerIntro{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
    color:  rgb(255, 253, 248);
    font-family: 'Coustard', serif;
    background-image: -webkit-linear-gradient(left, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
    background-image: linear-gradient(90deg, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: color 200ms linear;
    
  }
  #txtBannerIntro:hover{
    background-position: left center;
    color: #ef9671;
    transition: background-position 1000ms ease-in-out;
  }
  p{
    font-family:'Montserrat', sans-serif;
    line-height: 35px;
    font-size: 17px;
    line-height: 45px;
  }
  iframe{
      margin-left: 30%;
  }
  .contenido{
      xdisplay:flex;
      xflex-direction: row;
      xflex-wrap: wrap;
      xbackground: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
      margin-top: 4%;
      margin-right: 8%;
      margin-bottom: 5%;
      margin-left: 6%;
      
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr, 1fr;
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    
  }
  .grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
    justify-self: center;
    text-align: center;
    transition: transform 0.2s ease;
    
  }

  .grid > div:hover {
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transform: scale(1.2);
    /* transition: 0.2s ease; */
    /* transition-timing-function: ease-in-out; */
  }

  .grid > div img{
    border-radius: 1rem;
    height: 262px;
  }
  .modal p{
    font-size: 0.9em;
  }
  .modal img{
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 2em;
    width: 250px;
    
  }

  /* .transitionGrid {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.2s;
    
} */

 /*  .contenido img{
      xfloat: right;
      
      border: 1px solid #666;
      padding: 10px;
      max-height: 280px;
      margin-top: 3%;
      margin-left: 3%;
      width: 340px;
      height: 200px;
  } */
  #mapaGuinea{
      margin-left: 30%;
      width: 40%;
      padding: 10px;
      border: 1px solid #666;
      background-color: rgb(59, 77, 59);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 4%;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      z-index: 99;
      
  }
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}

   #anterior{
     text-align: center;
   }
  .carruselImg{
    width: 70%;
    margin-left: 15%;
    background-color: rgba(0,0,0,.7);
    border-radius: 3%;
    text-align: center;
    margin-bottom: 5%;
  }
  #imgActual{
    padding: 2%;
    width: 70%;
    height: 70%;
    border-radius: 3%;
  }
  .divOpcImagenes{
    display: flex; 
    margin: 0 auto;
    padding: 3px;
  }
  .opciones_imagenes{
    cursor:pointer;
    width: 30%;
    padding: 1%;
    filter: brightness(0.5);
  }
  .seleccionada{
    filter: brightness(1);
  }
  
  #catedral{
    margin-left: 30%;
    max-width: 40%;
    padding: 10px;
    border: 1px solid rgb(107, 103, 103);
    background-color: rgb(59, 77, 59);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 4%;
  }
  .contenido p{
      max-width: 100%;
      margin: auto;
      margin-left: 2%;
      /* margin-top: 3%; */
     
      padding-bottom: 2%;
      
  }
  .contenido2{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    padding: 10px;
}
.seccion{
  /*   margin-bottom: 4%; */
}
#alojamientos img{
    max-height: 650px;
}

#contenedorCarruselAlojamientos{
  width: 60%;
  xmargin-left: 25%;
  xmargin-bottom: 5%;
  xmargin-top: 3%;
  margin: auto;
}
.carousel-caption h2{
  background-color: rgb(59, 57, 57,.5);
}
.carousel-item{
  border-bottom:  0px solid black;
}


.contenidoG{
  xdisplay:flex;
  xflex-direction: row;
  xflex-wrap: wrap;
  xbackground: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  margin-top: 4%;
  margin-right: 8%;
  margin-bottom: 5%;
  margin-left: 6%;
  
}

.gridG {
display: grid;
grid-template-columns:  minmax(600px, 1fr) minmax(600px, 1fr);
grid-template-rows: 1fr, 1fr;
grid-row-gap: 3rem;
grid-column-gap: 1rem;

}
.gridG > div {
background: #EDE7F6;
padding: 1.5rem;
border-radius: 1rem;
justify-self: center;
text-align: center;
transition: transform 0.2s ease;

}

.gridG > div:hover {
cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transform: scale(1.2);
/* transition: 0.2s ease; */
/* transition-timing-function: ease-in-out; */
}

.gridG > div img{
  border-radius: 1rem;
  min-width: 505px;
  min-height: 357px;
  }


  .contenidoV{
    xdisplay:flex;
    xflex-direction: row;
    xflex-wrap: wrap;
    xbackground: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    margin-top: 4%;
    margin-right: 8%;
    margin-bottom: 5%;
    margin-left: 6%;
    
  }
  
  .gridV {
  display: grid;
  grid-template-columns:  minmax(600px, 1fr) minmax(600px, 1fr);
  grid-template-rows: 1fr, 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 1rem;
  
  }
  .gridV > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
  justify-self: center;
  text-align: center;
  transition: transform 0.2s ease;
  
  }
  
  .gridV > div:hover {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* transform: scale(1.2); */
  /* transition: 0.2s ease; */
  /* transition-timing-function: ease-in-out; */
  }
  
  .gridV > div video{
  border-radius: 1rem;
  min-width: 505px;
  }
  

#contact-form{
  line-height: 48px;
}

#contact-form input{
  xpadding-top: 2%;
}
#contacto{
  background-color: rgb(44, 42, 42);
/* filter: brightness(0.7); */
color: #fac751;
}
#contacto h1{
  font-family: 'Coustard', serif;
}
.containerForm{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 25%;
}
.containerForm h1{
  padding-bottom: 3%;
  
}
/* #mk{
  position: relative;
  left: 300px;
  top:-350px;
  
} */
footer{
    /* background-image:linear-gradient(to bottom right, green,rgb(87, 175, 87)); */
    /* background: linear-gradient(to right, rgba(117,137,12,1) 0%, rgba(164,179,87,1) 100%); */
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
footer h4,h5{
  font-weight: bold;
}
.social{
  margin-top: 3%;
  letter-spacing: 0.474em;
}
.social img{
  height: 25px;
}
#himno{
  margin-top: 5%;
  margin-bottom: 5%;
}

